In [4]:
import numpy as np
import pandas as pd
from functools import reduce
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv("retailer_stock.csv")

In [6]:
df.head()

,state_name,district_name,sub_district,retailer_id,dealership_nature,company,plant,product,opening_balance,received_quantity,sold_quantity,availabilty,closing_balance,created_date,to_date,product_id,from_date
0,Punjab,Mansa,Mansa,132999,Private Retailer,MOSAIC,MOSAIC,Imported DAP,2.75,0.00,0.00,2.75,2.75,2020-12-27,2020-12-26,71,2020-12-16
1,Punjab,Mansa,Mansa,132999,Private Retailer,MOSAIC,MOSAIC,MOP,0.00,1.25,0.00,1.25,1.25,2020-12-27,2020-12-26,8,2020-12-16
2,Punjab,Jalandhar,Jalandhar - II,115575,Private Retailer,MOSAIC,MOSAIC,Imported DAP,12.45,0.00,11.85,0.60,0.60,2020-12-27,2020-12-26,71,2020-12-16
3,Punjab,Jalandhar,Jalandhar - II,115575,Private Retailer,MOSAIC,MOSAIC,MOP,43.25,62.50,35.10,70.65,70.65,2020-12-27,2020-12-26,8,2020-12-16
4,Punjab,Bathinda,Talwandi Sabo,121756,Private Retailer,MOSAIC,MOSAIC,Imported DAP,14.50,0.00,10.85,3.65,3.65,2020-12-27,2020-12-26,71,2020-12-16

In [7]:
# taking stock sold as o/p variable

In [8]:
df['product_id'].unique()

array([71,  8])

In [9]:
df['retailer_id'].unique()

array([ 132999,  115575,  121756, ...,  839424,  637367, 1024369])

In [11]:
lst= [] 
lst = df['state_name'].unique()

In [12]:
df.describe()

,retailer_id,opening_balance,received_quantity,sold_quantity,availabilty,closing_balance,product_id
count,1.694030e+05,169403.000000,169403.000000,169403.000000,169403.000000,169403.000000,169403.000000
mean,5.775738e+05,6.043394,1.004574,1.529360,5.518608,5.518608,32.891253
std,3.366478e+05,14.755006,6.430665,6.760378,14.228293,14.228293,30.799027
min,1.033130e+05,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000
25%,2.725770e+05,0.600000,0.000000,0.000000,0.500000,0.500000,8.000000
50%,5.053340e+05,2.350000,0.000000,0.000000,2.000000,2.000000,8.000000
75%,8.842190e+05,6.450000,0.000000,0.850000,5.800000,5.800000,71.000000
max,1.201723e+06,486.750000,392.750000,455.400000,477.100000,477.100000,71.000000

In [13]:
for lsst in lst:
    x = df[["retailer_id","state","product_id","sold_date"]]
    x = x.loc[x['state']==lsst] 
    x = x.dropna()
    x = x[["sold_date"]]
    x = x.sort_values(by=['sold_date'])
   # x.plot(kind ="line",x="sold_date", y = "sold_stock",figsize=(20,8),title=lsst+" Plot")

KeyError: "['state', 'sold_date'] not in index"

In [44]:
x1 = x.copy()

from sklearn.preprocessing import LabelEncoder
#x1['state_coded'] = lb_make.fit_transform(x['state'])
#x1 = x1.drop(columns=['state'])
x1 = x1.dropna()
x1 #Results in appending a new column to df

         sold_date
108605  2019-03-23
221274  2019-08-07
221273  2019-08-11
217725  2019-09-11
221272  2019-09-11
...            ...
217716  2020-11-27
217715  2020-11-28
217905  2020-11-29
217714  2020-11-29
217713  2020-11-30

[67 rows x 1 columns]

In [47]:
x1["year"]= pd.DatetimeIndex(x['sold_date']).year
x1["month"]= pd.DatetimeIndex(x['sold_date']).month
x1["day"]= pd.DatetimeIndex(x1['sold_date']).day
x1.drop(columns = ["sold_date"])

In [48]:
x1["state"] = df["state"]

In [49]:
x1

         sold_date  year  month  day  state
108605  2019-03-23  2019      3   23  Bihar
221274  2019-08-07  2019      8    7  Bihar
221273  2019-08-11  2019      8   11  Bihar
217725  2019-09-11  2019      9   11  Bihar
221272  2019-09-11  2019      9   11  Bihar
...            ...   ...    ...  ...    ...
217716  2020-11-27  2020     11   27  Bihar
217715  2020-11-28  2020     11   28  Bihar
217905  2020-11-29  2020     11   29  Bihar
217714  2020-11-29  2020     11   29  Bihar
217713  2020-11-30  2020     11   30  Bihar

[67 rows x 5 columns]